.paper {
  margin: 20px;
  text-align: center;
  min-width: 210px;
}

.card {
  display: inline-block;
  margin: 20px;
  padding: 20px;
}

.picker {
  width: 170px;
  margin: 0 auto;
}

:global .block-picker {
  box-shadow: none !important;
}
